@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
 address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
 b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
 thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section,
 time, mark, audio, video{
margin: 0;
padding: 0;
border:0;
outline: 0;
font-size:1em;
 }
body{
  background-color:#000;
  position: relative;
}
h1,h2,h3,h4,p{
    font-family: "Bernard MT Condensed";
    color:#fff;
    font-weight: normal;
}
a {
  text-decoration: none;
  color:#fff;
}
/* ******************************************* */
header{
  background-color:#a40000;
  width: 100%;
  text-align: center;
}
.topnav{
    width:1080px;
    height: 115px;
    margin: 0 auto;
}
.sp-logo{
  display: none;
}
.sp-menu{
  display: none;
}
.topnav li{
  box-sizing: border-box;
  float:left;
  font-family: "Bernard MT Condensed";
  color:#fff;
  list-style: none;
  margin:40px 0;
}
.topnav ul li a{
  text-decoration: none;
  display: table;
    width:270px;
  font-size: 30px;
}

.in{
  color:#fff;
  vertical-align:middle;
  display: table-cell;
  overflow: hidden;
}
.in:hover{
  color:#cc147f;
}
.clear-fix{
  clear:both;
}

.ttl::after{
  content:":";
  font-size:30px;
  padding-left:5px;
  color:#cc147f;
}
/* portfolio */
.fancybox img {
	transition:		all 0.5s ease;
}
.fancybox {
	overflow:hidden;
}
.fancybox img:hover {
	-webkit-transform:	scale(0.8);
	transform:		scale(0.8);
}


/* ipad---------------------------------------------------------- */
@media only screen (max-width:768px) ,only screen and (max-width:1024px){

  .topnav{
    width:100%;
    height: 60px;
    position: relative;

  }
  .sp-logo{
    float: left;
    display:block;
    font-size:32px;
    line-height: 60px;
    margin-left: 4%;
    font-weight: normal;
  }
  .sp-menu{
    float: right;
    display: block;
    background: url('../img/common/menu.png') no-repeat;
    width:40px;
    height: 27px;
    margin-top:2%;
    margin-right: 4%;
  }
  .sp-menu.on{
    float: right;
    display:block;
    background:url('../img/common/close.png') no-repeat;
    width:40px;
    height: 30px;
    margin-top: 2%;
    margin-right: 4%;
  }
  .topnav ul{
    position: absolute;
    top:60px;
    width: 100%;
  }
  .topnav li{
      display: none;
  }
  .topnav ul li.on{
    bottom:0;
    display: block;
    width:100%;
    height: 60px;
    margin: 0;
    border-bottom: solid 1px #fff;
    background-color:#a40000;
  }
  .topnav li.on a{
    text-align: left;
    line-height: 60px;
      font-size: 24px;
      width:100%;
  }

.in{
  margin-left: 8%;
  overflow: hidden;
  display: block;
  overflow: hidden;
}
  .topnav li.on:first-child{
    border-top: solid 1px #fff;
  }
/* ends-ipad----------------------------------------------------- */
@media (max-width:468px){

  .sp-menu{
    float: right;
    display: block;
    background: url('../img/common/menu.png') no-repeat;
    width:40px;
    height: 27px;
    margin-top:4%;
    margin-right: 4%;
  }

  .topnav ul li a{
    width:100%;
    font-size: 24px;
  }
}
