@charset "UTF-8";

.mainvidual{
  display: table;
  width:100%;
  height: 760px;
  background-color: #000;
}

.contact-title{
  font-weight: normal;
    padding-top:85px;
  font-size: 48px;
  text-align: center;
  letter-spacing: 3px;
}

.contact-wrapper{
  display: table;
  width: 1080px;
  margin: 0 auto;
  padding-top:50px;
}
.txt-container{
  box-sizing: border-box;
  width:50%;
  float: left;
}
.txt-container p{
  line-height: 1.7;
  font-size: 120%;
}

.form-container{
  box-sizing: border-box;
  width: 50%;
float:right;
}
.form-txt{
  font-weight: normal;
  font-size: 30px;
  padding-bottom:10px;
    letter-spacing: 3px;
}
.form-sub-ttl{
  font-size: 120%;
  padding-top:10px;
}
.first{
  padding:0;
}
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"]{
  width: 100%;
  padding:5px;
}
textarea{
  width:100%;;
  padding:5px;
}
input[type="text"],
textarea{
  outline: none;
  border:solid 1px #cc147f;
  -webkit-transition: all 3s;
  transition: all 3s;
  color:#fff;
  font-size: 18px;
  border-radius: 4px;/*角の丸み*/
}
.submit{
  text-align: center;
}

button{
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
   color: #fff;
  font-size: 18px;
  border:solid 2px #a40000;
  background-color:#cc147f;
  padding:0 10px;
  margin-top:10px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2),
                inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}
button:active {/*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.instagram{
  padding-top:40px;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 2px;
}
.instagram a{
  text-decoration: none;
}

@media (max-width:768px){
  .contact-title{
    padding-top:30px;
    font-size: 24px;
  }
  .contact-wrapper{
    width:100%;
    padding-top: 20px;
  }

  .txt-container{
    float:none;
    width:96%;
    margin-bottom: 20px;
    padding-left:4%;
  }
  .form-container{
    float: none;
    width:96%;
    padding-left:4%;
    padding-right:4%;
    margin-bottom: 30px;
  }

}
