@charset "UTF-8";

.mainvidual{
  display: table;
  width:100%;
  background-color: #000;
}

.portfolio-title{
  font-weight: normal;
    padding-top:85px;
  font-size: 48px;
  text-align: center;
  letter-spacing: 3px;
}
/* masonry.css */
#wrapper {
  padding-top:80px;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;   /*全体の中央寄せ*/
}
#container {
  width: 100%;
  margin: 0 auto;   /*中央寄せ*/
  position: relative;
}
.item {
  margin-bottom:40px;
  width: 320px;
  height: 213px;
  overflow: hidden;
  /* border: 1px solid #eee; */
}
.item.x2 {
  width: 320px;
  height: 400px;
}
.item.x3 {
  width: 500px;
}
.item img {
  width: 100%;
}
/* ends-masonry.css */



/* smart-phone************************************* */
@media (max-width:360px){
  /* masonry.css */
  #wrapper {
    padding-top:30px;
    position: relative;
    max-width: 96%;
    overflow: hidden;
  }

  /* ends-masonry.css */


}

/* ipad**************************************************** */

@media (max-width:1024px){
  #wrapper {
    padding-top:30px;
    position: relative;
    max-width: 96%;
    margin-left:4%;
  }
  #container {
    width: 96%;
    position: relative;
  }
  .item{
    width: 340px;
    margin-bottom: 20px;
  }
}
@media (max-width:768px) {
  /* masonry.css */
  #wrapper {
    padding-top:30px;
    position: relative;
    max-width: 96%;
    margin-left:4%;
  }
  #container{
    margin: 0;
  }
  /* ends-masonry.css */
}
@media (max-width:420px) {
  .portfolio-title{
    font-size: 24px;
    padding-top:20px;
  }
  /* masonry.css */
  #wrapper {
    padding-top:30px;
    max-width: 100%;
    margin-left: 4%;
  }
  /* ends-masonry.css */
  .item{
    margin-bottom: 20px;
  }

}
